@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.use-state-hook {
    width: 100%;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.use-state-hook .button {
    color: #fff;
    background-color: #0D5BE3;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    border: solid 10px #032B8C;
    border-top: none;
    border-left: none;
    transition: all .6s ease-in-out;
    user-select: none;
}

.use-state-hook .button::before {
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    top: -42px;
    right: -42px;
    background-color: #fff;
}

.use-state-hook .button::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    bottom: -42px;
    left: -42px;
    background-color: #fff;
}

.use-state-hook .button:hover {
    border-width: 5px;
    transform: translate3d(5px, 5px , 0px);
    margin-bottom: 5px;
}

.use-state-hook .button:active {
    border-width: 0;
    transform: translate3d(10px, 10px , 0px);
    margin-bottom: 10px;
    transition: all .1s ease-in-out;
}

.use-state-hook .images {
    position: relative;
    margin-top: 50px;
    display: flex;
    gap: 50px;
}

.use-state-hook .mouth {
    position: absolute;
    top: 125px;
    left: 105px;
    transition: all .8s ease-in-out;
}

.use-state-hook .blues-mood {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    color: #0D5BE3;
    letter-spacing: .03em;
    width: 377px;
}