.other-hook {
    width: 100%;
    margin: 80px 0;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;

    --letsgo-color: #032B8C;
}

.other-hook .traffic-light-img {
    z-index: 2;
    margin-right: 100px;
}

.other-hook .btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;
    margin-left: 50px;
    min-width: 270px;
}