@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

html {
  --blue: #61dafb;
  --grey: #282c34;
  --light-grey: #5B6578;
  cursor: default;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

/* Shared style throughout hooks' components */

.hook {
  width: 70%;
  margin: 50px 15%;
  scroll-margin-top: calc(100px + 50px);
}

.hook-title {
  color: var(--grey);
  font-size: 40px;
  font-weight: bold;
}

.hook-description {
  color: var(--grey);
  font-size: 20px;
  line-height: 1.6em;
}

.hook-description .highlight {
  background-color: #fff2d1;
  padding: 2px 6px;
}

.code-snippet {
  background-color: var(--grey);
  padding: 20px 40px;
  color: #ccc;
  border-radius: 10px;
  font-size: 20px;
  line-height: 1.5em;
  margin: 40px 0;
}

.code-snippet .blue {
  color: #65b8f3;
}

.code-snippet .orange {
  color: #ebab7d;
}

.code-snippet .purple {
  color: #cb88ed;
}

.code-snippet .red {
  color: #ef736d;
}

.code-snippet .green {
  color: #84d287;
}

.code-snippet .yellow {
  color: #e7d320;
}